################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/.vs
/CustomRadioStation/bin
/CustomRadioStation/obj
/bin_debug/net5.0-windows
/bin/net5.0-windows/win-x64
/bin/net6.0-windows/win-x64
/bin_debug/net6.0-windows
/PublishSign.bat
/bin/net7.0-windows/win-x64
