################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/.vs
/CustomRadioStation/bin
/CustomRadioStation/obj
/Publish.bat
/bin
/bin_debug
